  <ion-view>

    <!--
    <ion-nav-buttons side="left">
      <button class="button" ng-click="cancel()">
        Cancel
      </button>
 
    </ion-nav-buttons>
    -->

    <ion-nav-buttons side="right">
      <button class="button" ng-click="save()">
        Save
      </button>
 
    </ion-nav-buttons>
    <ion-nav-title>{{product.name}}</ion-nav-title>
    
<ion-content class='padding'>
<h2>{{product.name}}</h2>

<div class="list">
  <label class="item item-input">
    <span class="input-label">Name</span>
    <input type="text" ng-model="product.name">
  </label>

  <label class="item item-input">
    <span class="input-label">RAM</span>
    <input type="text" ng-model="product.ram">
  </label>
  

  <label class="item item-input">
    <span class="input-label">Storage</span>
    <input type="text" ng-model="product.storage">
  </label>
  


  <label class="item item-input">
    <span class="input-label">Weight</span>
    <input type="text" ng-model="product.weight">
  </label>
  


  <label class="item item-input">
    <span class="input-label">Year</span>
    <input type="number" ng-model="product.year">
  </label> 
</div>

</ion-content>

  </ion-view>


