<ion-view view-title="Products">

    <ion-nav-buttons side="right">
      <button class="button" ng-click="createProduct()">
        New
      </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-icon-right" ng-repeat="product in products"
            type="item-text-wrap"
            href="#/tab/products/{{product.id}}"
            >

            <h2>{{product.name}}</h2>
            <p>{{product.year}}</p>

            <i class="icon ion-chevron-right icon-accessory"></i>

            <ion-option-button class="button-assertive"
             ng-click="deleteProduct(product.id)">
            Delete
            </ion-option-button>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>