 <!-- NOTE: view-title won't work for dynamic content -->

  <ion-view>
    <ion-nav-buttons side="right">
      <button class="button" ng-click="edit(product.id)">
        Edit
      </button>
    </ion-nav-buttons>
    <ion-nav-title>{{product.name}}</ion-nav-title>
    
<ion-content class='padding'>
<h2>{{product.name}}</h2>
<p>Year: {{product.year}}
</ion-content>

  </ion-view>


