<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    
     
    <ion-tab title="Products" 
             icon-off="ion-ios-list-outline"
             icon-on="ion-ios-list"
             href="#/tab/products">

        <ion-nav-view name="tab-products"> </ion-nav-view>

    </ion-tab>


    <ion-tab title="Brands" 
             icon-off="ion-ios-paper-outline"
             icon-on="ion-ios-paper"
             href="#/tab/brands">

    <ion-nav-view name="tab-brands"> </ion-nav-view>

    </ion-tab>

    <ion-tab title="Favorite" 
             icon-off="ion-ios-heart-outline"
             icon-on="ion-ios-heart"
             href="#/tab/favorites">

    <ion-nav-view name="tab-favorites"> </ion-nav-view>

    </ion-tab>
</ion-tabs>